.btn-custom {
    width: 90%;
    height: 50px;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.btnUser {
    background-color: #0D47A1;
    color: #fff;
    font-weight: bold;
}

.btnUser:hover {
    background-color: #002f74;
}